{% extends "form_layout.html" %}
{% block content %}
<div class="card-heading"></div>
<div class="card-body">
    <h2 class="title">Registration Info</h2>
    <form method="POST" action="{{ url_for('register') }}">
        <div class="input-group">
            <input class="input--style-3" type="text" placeholder="Name" name="name" required>
        </div>
        <div class="input-group">
            <input class="input--style-3" type="text" placeholder="Membership ID" name="membership_id" required
                pattern=".{9}">
        </div>
        <div class="input-group">
            <input class="input--style-3 js-datepicker" type="text" placeholder="Birthdate" name="birthday" required
                pattern=".{10}">
            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
        </div>
        <div class="input-group">
            <input class="input--style-3" type="email" placeholder="Email" name="email">
        </div>

        <div class="p-t-10">
            <button class="btn btn--pill btn--green" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}